DEBUG=0
DOMAIN=domain
ALLOWED_HOSTS=allowed.com,hosts.com
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=user
EMAIL_PASS=password
DB_NAME=database
DB_USER=user
DB_PASS=password
DB_HOST=host
DB_PORT=port
REPORT_TRIGGER_TOKEN=B1p8xLguwio=
